.panelBox {
    spacing: 1px;
}

.activeBtn {
    padding: 0 6px;
    color: #FFFFFF;
    background-color: #285577;
    border: 1px solid #4c7899;
}

.emptyBtn {
    padding: 0 6px;
    color: #666666;
    background-color: #111111;
    border: 1px solid #222222;
}

.inactiveBtn {
    padding: 0 6px;
    color: #888888;
    background-color: #222222;
    border: 1px solid #333333;
}
