
.panelBox {
    spacing: 1px;
}

.activeBtn {
    padding: 0 8px;
    color: #FFFFFF;
    background-color: #285577;
    border: 1px solid #4c7899;
}

.inactiveBtn {
    padding: 0 8px;
    color: #888888;
    background-color: #222222;
    border: 1px solid #333333;
}
